body {
    background-color: #232323;
    font-family: "Montserrat", "Avenir", sans-serif;
    margin: 0;
}

#titleHeader, #title, #colorDisplay {
    color: azure;
    margin: 0;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

#titleHeader {
    background-color: steelblue;
    padding: 20px;
}

#colorDisplay {
    font-size: 76px;
}

#messageBar {
    background-color: azure;
    height: 30px;
    text-align: center;
}

#message {
    color: rgb(255, 0, 0);
    text-align: left;
}



.square {
    width: 30%;
    border-radius: 25px;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

#scoreBoard, #currentHighScoreBoard {
    color: azure;
    text-align: center;
    padding-top: 15px;
}